ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: #000;
    background-color: #fff;
    display: inline-block;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    cursor: pointer;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    text-decoration: underline;
}

header {
    width:100%;
    vertical-align: center;
    text-align: center;
    position: static;
    top: 0;
    left: 0;
    background-color: #fff;
    padding: 0;
    box-shadow: 0px 5px 10px #444;
}
.button {
    border: 0;
    border-radius: 4px;
    padding: 7px;
    margin: 5px;
    margin-right: 13px;
    color: white;
    background-color: blue;
    box-shadow: 1px 2px 3px rgba(123,123,123,0.5);
    transition: box-shadow 0.5s;
}
.button:hover{
    text-decoration: none;
    box-shadow: 1px 2px 3px rgba(123,123,123,0.8);
}
