<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:fragment="editScripts">
        <script>
            var span;
            var modal;
            var qs;
            function parse_query_string(query) {
                var vars = query.split("&");
                var query_string = {};
                for (var i = 0; i < vars.length; i++) {
                    var pair = vars[i].split("=");
                    var key = decodeURIComponent(pair[0]);
                    var value = decodeURIComponent(pair[1]);
                    // If first entry with this name
                    if (typeof query_string[key] === "undefined") {
                        query_string[key] = decodeURIComponent(value);
                        // If second entry with this name
                    } else if (typeof query_string[key] === "string") {
                        var arr = [query_string[key], decodeURIComponent(value)];
                        query_string[key] = arr;
                        // If third or later entry with this name
                    } else {
                        query_string[key].push(decodeURIComponent(value));
                    }
                }
                return query_string;
            }
            function onLoad() {
                var query = window.location.search.substring(1);
                qs = parse_query_string(query);
                document.getElementById("index").value = qs.idx;
                currentDeleteIdx = qs.idx;
                modal = document.getElementById('deleteModal');
                // When the user clicks on <span> (x), close the modal
                span = document.getElementById("cancelDeleteButton");
                span.onclick = function() {
                    modal.style.display = "none";
                }
                window.onclick = function(event) {
                    if (event.target == modal) {
                        modal.style.display = "none";
                    }
                }
            }
        </script>
    </th:block>
</head>
<body>
<div th:fragment="form (edit)">
    <table>
        <tr>
            <td>
                Recipient(s)
            </td>
            <td>
                <input type="hidden" id="index" name="index" value="">
                <input type="text" class="input-fields" name="recipients" id="addressField"
                       th:value="${email?.getRecipientString()}" onchange="checkEmail(document.getElementById('addressField').value)">
            </td>
        </tr>
        <tr>
            <td>
                Subject
            </td>
            <td>
                <input type="text" class="input-fields" name="subject" id="subjectfield" th:value="${email?.subject}">
            </td>
        </tr>
    </table>
    <h4>Content</h4>
    <table>
        <tr>
            <td colspan="3">
                <textarea rows="10" cols="50" class="input-fields" id="content" th:text="${email?.content}"
                          name="content" form="gui"></textarea>
            </td>
        </tr>
        <tr>
            <td>
                <div><input th:if="${edit}" type="submit" class="button" id="saveButton"></div>
                <div><input th:if="${!edit}" type="submit" class="button" id="submitButton"></div>
            </td>
            <td th:if="${edit == true}">
                <a onclick="onDelete()" class="button" id="deleteButton"><i class="fas fa-trash-alt"></i></a></td>
            </td>
            <td>
                <div class="right"><a href="getEmails" class="button" id="cancelButton">Cancel</a></div>
            </td>
        </tr>
    </table>
</div>
</body>

</html>