<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="digiwill">
</head>
<body>
<div th:fragment="footer">
    <footer>
        <h4>TEST</h4>
    </footer>

    <div th:if="${#httpServletRequest.remoteUser == null}" id="login" class="modal">
        <div th:include="login :: login" class="modal-content">
        </div>
    </div>
    <div th:if="${#httpServletRequest.remoteUser == null}" id="passwordRecovery" class="modal">
        <div th:include="passwordRecovery :: passwordRecovery" class="modal-content">
        </div>
    </div>
    <div id="toast">
        <div id="img">Error</div>
        <div id="desc"></div>
        <button id="toastCloseButton" onclick="closeToast()"><i class="fas fa-times"></i></button>
    </div>
</div>
</body>

</html>