<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/header :: head (title='New Email')"></th:block>
    <link rel="stylesheet" type="text/css" href="css/email_gui.css"/>
    <script src="js/email_check.js"></script>
</head>
<body>
<div th:include="fragments/header :: header"></div>

<div id="content">
    <div class="panel">
        <form th:action="@{/addEmail}" method="post" id="gui">
            <h2>Add new custom email</h2>
            <th:block th:include="fragments/emailForm :: form (edit = false)">

            </th:block>
        </form>
    </div>
</div>
<div th:include="fragments/footer :: footer"></div>
</body>
</html>