<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/header :: head (title='DigiWill')"></th:block>
</head>
<body>
<div th:include="fragments/header :: header"></div>
</div>
<div id="content">
    <div class="panel">
        <!--/*@thymesVar id="failure" type="boolean"*/-->
        <h3 th:if="${failure} == true">Callback error</h3>
        <!--/*@thymesVar id="longText" type="string"*/-->
        <p th:text="${longText}"></p>
    </div>
</div>
<div th:include="fragments/footer :: footer"></div>
</body>
</html>