<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/header :: head (title='Edit Email')"></th:block>
    <link rel="stylesheet" type="text/css" href="css/email_gui.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <script src="js/email_check.js"></script>
    <th:block th:include="fragments/emailForm :: editScripts"></th:block>
</head>
<body onload="onLoad()">
<div th:include="fragments/header :: header"></div>
<div id="deleteModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">

        <p>Are you sure that you want to delete this?</p>
        <a id="confirmDeleteButton" class="button"><i class="fas fa-check"></i></a><a class="button" id="cancelDeleteButton"><i class="fas fa-times"></i></a>
    </div>
</div>
<div id="content">
    <div class="panel">
        <form th:action="@{/editEmail}" method="post" id="gui">
            <h2>Edit custom email</h2>
            <th:block th:include="fragments/emailForm :: form (edit = true)">

            </th:block>
        </form>
    </div>
</div>
<div th:include="fragments/footer :: footer"></div>
</body>
</html>