<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="fragments/header :: head (title='DigiWill - Password Recovery')">
    <title>DigiWill - Password Recovery</title>
</head>
<body>
<div th:include="fragments/header :: header"></div>
<div th:fragment="passwordRecovery" id="content">
    <div class="panel">
        <div class="form">
            <form th:action="@{/requestPasswordReset}" method="post">
                <table>
                    <tr>
                        <td>Email Address:</td>
                        <td><input id="emailInput" type="text" name="email"/></td>
                    </tr>
                    <tr>
                        <td>
                            <button type="button" onclick="closePasswordRecovery(true)" class="cancelbtn button">
                                Cancel
                            </button>
                        </td>
                        <td><input id="loginButton" type="submit" value="Request Password Reset" class="button"/></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>
</body>
</html>