<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/header :: head (title='DigiWill - Your Profile')"></th:block>
    <link rel="stylesheet" type="text/css" href="css/listings.css"/>
    <link rel="stylesheet" type="text/css" href="css/profile.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>
<body>
<div th:include="fragments/header :: header"></div>
<div id="content">
    <div class="panel">
        <div class="form">
            <form th:action="@{/saveProfile}" method="post">
                <table>
                    <tr>
                        <td><h2>General</h2></td>
                    </tr>
                    <tr>
                        <td>First Name:</td>
                        <td><input id="firstNameInput" type="text" class="input-fields"
                                   th:value="${personalData.getFirstName()}"/></td>
                    </tr>
                    <tr>
                        <td>Surname:</td>
                        <td><input id="sureNameInput" type="text" class="input-fields"
                                   th:value="${personalData.getSurname()}"/></td>
                    </tr>
                    <tr>
                        <td>Birthday:</td>
                        <td><input id="birthdayInput" type="date" class="input-fields"
                                   th:value="${dateOfBirth}"/></td>
                    </tr>
                    <tr>
                        <td><h2>Address</h2></td>
                    </tr>
                    <tr>
                        <td>Street/No.:</td>
                        <td><input id="streetAddressInput" type="text" class="input-fields"
                                   th:value="${personalData.getAddress().getStreetAddress()}"/></td>
                    </tr>
                    <tr>
                        <td>Postal code:</td>
                        <td><input id="zipCodeInput" type="text" class="input-fields"
                                   th:value="${personalData.getAddress().getZipCode()}"/></td>
                    </tr>
                    <tr>
                        <td>City:</td>
                        <td><input id="cityInput" type="text" class="input-fields"
                                   th:value="${personalData.getAddress().getCity()}"/></td>
                    </tr>
                    <tr>
                        <td>Country:</td>
                        <td><input id="countryInput" type="text" class="input-fields"
                                   th:value="${personalData.getAddress().getCountry()}"/></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input id="saveProfileButton" type="submit" value="Save Changes" class="button"/></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>
<div th:include="fragments/footer :: footer"></div>
</body>
</html>