<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <th:block th:include="fragments/header :: head (title='DigiWill - Register')"></th:block>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>
<body onload="onLoad()">
<div th:include="fragments/header :: header"></div>

<script th:if="${hasToast}" th:inline="javascript">
    function onLoad() {
        launchToast(/*[[${responseText}]]*/);
    }
</script>
<div id="content">
    <div class="panel">
        <div class="form">
            <form th:action="@{/register}" method="post">
                <table>
                    <tr>
                        <td><label>Email address : </label></td><td><input id="emailInput" type="email" name="email" class="input-fields"
                    /> </td>
                    </tr>
                    <tr>
                        <td><label>Password: </label></td>
                        <td><input id="passwordInput" type="password" name="password" class="input-fields"/></td>
                            <td><div class="tooltip">?
                                <div class="tooltiptext">
                                    Must be at least 8 characters long <br>
                                    Must include at least one:
                                    <ul>
                                        <li>Uppercase letter</li>
                                        <li>Lowercase letter</li>
                                        <li>Digit</li>
                                        <li>Special character</li>
                                    </ul>
                                </div>
                            </div></td>
                    </tr>
                    <tr>
                        <td>Repeat:</td>
                        <td><input id="passwordInput_rep" type="password" name="password_rep" class="input-fields"/></td>
                    </tr>
                    <tr>
                        <td>First name:</td>
                        <td><input id="firstName" type="text" name="firstName" class="input-fields"/></td>
                    </tr>
                    <tr>
                        <td>Surname:</td>
                        <td><input id="surName" type="text" name="surName" class="input-fields"/></td>
                    </tr>
                    <tr>
                        <td>Birthday</td>
                        <td><input id="birthday" type="date" name="birthday" class="input-fields"/></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input id="registerButton" type="submit" value="Register" class="button"/></td>
                    </tr>

                </table>
            </form>
        </div>
    </div>
</div>
<div th:include="fragments/footer :: footer"></div>
</body>
</html>
