<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/header :: head (title='Connect IFTTT')"></th:block>
    <link rel="stylesheet" type="text/css" href="css/webhook_gui.css"/>
    <link rel="stylesheet" type="text/css" href="css/listings.css"/>
    <script src="js/main.js"></script>
    <script src="js/webhook_check.js"></script>
</head>
<body onload="onLoad()">
<div th:include="fragments/header :: header"></div>

<div id="content">
    <div class="panel">
        <form th:action="@{/webhook}" method="post" id="gui">
            <h2>Connect your IFTTT applet with digiwill</h2>
            IFTTT API-Key: <input class="input-fields" id="apikey" name="apikey" type="text"
                                      th:value="${webhook?.getApiKey()}">
            <table class="listing" id="eventList">
                <tr th:each="em, iter: ${webhook?.getEventNames()}">
                    <td>Event name:</td>
                    <td><input type="text" th:value="${em}" class="input-fields"></td>
                </tr>
            </table>
            <button id="addNewEventButton" onclick="onAddEvent()" class="button" type="button"
            >Add new Event <i class="fas fa-plus-square"></i></button>
            <button type="button" class="button" id="submitButton" onclick="onSetWebhook()">Set IFTTT connection</button>
            <button type="button" class="button" id="deleteAllButton"
                    onclick="onWebhookDelete()"><i class="fas fa-trash-alt"></i></button>
        </form>
        <script th:if="${hasToast}" th:inline="javascript">
            function onLoad() {
                launchToast(/*[[${responseText}]]*/);
            }
        </script>
    </div>
</div>
<div th:include="fragments/footer :: footer"></div>
</body>
</html>